/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  font-family: 'Andika', sans-serif;
  background-size: cover ;
  background-position: center;
  background-image: url(../images/pigeon-background.JPEG);
  background-repeat: no-repeat;
  background-color: #DDDDDD;
}

main{
  margin-bottom: 100px;
}

h1{
  text-align: center;
  color: #c12258;
  font-size: 2em;
  line-height: 2;
}

caption{
  margin:5px 0px;
}

p{
  padding-top: 15px;
}

a{
  font-size: 16px;
  color: #C12258;
  text-decoration: underline wavy;
}

table{
  border: 2px solid #000000;
  margin: 0 auto;
  border-radius: 10px;
  border-collapse: separate;

}

.colhead{
  background-color: #7e0830;
  color: #FFFFFF;
  min-width: 125px; 
  padding: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.rowhead{
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
}

td{
  text-align: center;
  border-top: 2px solid #000000;
  padding: 10px;
}

tr:nth-child(even){
  background-color: #D1D1D1;
}

tbody tr:hover{
  background: rgba(126, 8, 32,.25);
}

*:focus{
  border: 3px dashed #417243;
}

thead tr:first-child th:first-child{}

footer{
  width:100%;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  min-height: 75px;
  position: fixed;
  right: 0px; 
  left: 0px;
  bottom: 0px;
}

